html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main-form{
  background-color: gold;
  padding: 40px;
  border-radius: 30px;
}

.s-logo{
  width: 6em;
}